<section class="mt-5 border-3 border-gray-300 rounded-2xl w-full h-full flex flex-col">
    <div class="h-full bg-gray-100 rounded-xl m-2 flex justify-center items-center">
        <p class="font-extrabold text-3xl">Dato curioso</p>
    </div>
    <div class="h-[20%] bg-gray-100 rounded-xl m-1 flex justify-between">
        <button class="text-xl ml-3 text-black/80">Previous</button>
        <button class="font-bold text-xl">Show Answer</button>
        <button class="text-xl mr-3 text-black/80">Next</button>
    </div>
</section>