<section class="relative flex items-center w-full h-20 rounded-2xl border-3 border-gray-300 mt-4">
    <div class="w-[10%] h-[90%] mr-1 ml-1 bg-gray-300 rounded-xl">
    </div>
    <p class="flex absolute font-bold text-2xl self-center right-0 mr-3">0 of 10</p>
</section>